.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result-title {
  margin: 30px 228px 14px 0;
  font-size: larger;
  font-weight: 900;
}

.search-button {
  margin: 22px 0 0 0;
}

.search-row {
  margin: 13px;
}

.result-error {
  margin: 30px 228px 14px 0;
  font-size: larger;
  font-weight: 900;
  color: red;
}

.length-error {
  color: red;
}
